*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
}
.container{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("ball.jpg");
    background-size:cover;
    background-position:center;
    min-height:100vh;
}
.nav{
    width:100%;
    background-color: brown;
    height:80px;

    

}
.nav ul li{
    list-style-type: none;
    float:right;
    margin-right:10px;
    margin-top:20px;
    padding:10px;

}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:20px;
    text-transform:uppercase;
}
.footer{
    color:#fff;
    margin-top:500px;
    width:100%;
    background-color: brown;
    height:70px;
    text-align:center;
    align-items:center;
    font-size:20px;
    padding-top:25px;
}
.body iframe{
    top:50%;
    left:50%;
    transform:translateY(-50%);
    position:absolute;
    padding-left:40px;

}